/* You can add global styles to this file, and also import other style files */

body
{
    margin: 1.0cm;
}

.list-header
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 15px;
    padding: 12px;
    font-size: x-large;
    font-weight: bold;
    background-color: rgb(194, 225, 225);
}

.list-elements
{
    border: 1px solid black;
    width: auto;
}
.list-elements div
{
    margin: 15px;
    padding: 12px;
    font-size: large;
    text-align: left;
    width: auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgb(250, 236, 181);
}

.grid-container 
{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 2fr;
    grid-gap: 0px;
    gap: 0px;
    width: 800px;
    margin: 0.1cm;
}

.result-grid
{
    width: 500px;
    margin: 0.1cm;
}