<div class="row">
    <div class="text-center">
        <h1>Person Finder</h1>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="row grid-container list-header">
            <div>Title</div>
            <div>Forename</div>
            <div>Surname</div>
        </div>
        <div *ngFor="let person of persons">
            <div class="row grid-container list-elements">
                <div class="grid-child">{{person.title}}</div>
                <div class="grid-child">{{person.forename}}</div>
                <div class="grid-child">{{person.surname}}</div>
                <div class="grid-child"><a [routerLink]="['/personDetails', person.id]" class="btn btn-primary">view details</a></div>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>